{
  "swagger": "2.0",
  "info": {
    "description": "Note: This API specification is currently beta. The schema definitions as described are not subject to change. However new fields or schemas may be added. Please contact support@two12.co for questions or feedback.\n\n\nThe TWO12 API is organized around REST. Our API has predictable resource-oriented URLs, accepts and returns JSON-encoded request and responses bodies, and uses standard HTTP response codes, authentication, and verbs.\n\n\nThe TWO12 API may differ for every account as we release new versions and tailor functionality based on customer needs. The API specification below is universally available.",
    "version": "1.0.6",
    "title": "TWO12 API Reference",
    "termsOfService": "http://swagger.io/terms/",
    "contact": {
      "email": "apiteam@two12.co"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "svp.two12.co",
  "basePath": "/v2",
  "tags": [
    {
      "name": "Accreditation",
      "description": "Accreditations and Accreditation Providers",
      "externalDocs": {
        "description": "Find out more",
        "url": "http://two12.io"
      }
    },
    {
      "name": "Assets",
      "description": "Assets represent the investment vehicle for a deal. An asset can take one of many forms, such as, shares of common stock in a company, real estate, crypocurrency, or even fractional ownership in a private jet. The object specification is general enough to include a complete description of the asset, supporting documentation, and profiles of the key team members."
    },
    {
      "name": "Banking",
      "description": "Everything about banking",
      "externalDocs": {
        "description": "Find out more about our store",
        "url": "http://swagger.io"
      }
    },
    {
      "name": "Closes",
      "description": "A Close groups Subscriptions together for completion of the investment process. A close can represent the close of the entire deal or just a subset of investments (i.e. a tranche)."
    },
    {
      "name": "Companies",
      "description": "This object can store general information about a Company for a variety of purposes. Some examples include fund managers, portfolio companies, or registered agents."
    },
    {
      "name": "Deals",
      "description": "A deal is a fundamental object that represents the opportunity into which user make an investment."
    },
    {
      "name": "Documents",
      "description": "Documents and Document Templates can be used for Deal setup."
    },
    {
      "name": "Entities",
      "description": "An entity (typically a fund) is the legal entity that gets generated during the deal creation process."
    },
    {
      "name": "Files",
      "description": "Files of all kinds that can be attached to other objects or stand alone."
    },
    {
      "name": "Identity",
      "description": "Operations related to validating individual identities"
    },
    {
      "name": "Invites",
      "description": "Used for onboarding new users. The invite object can conveniently create all the objects required when a new user is created."
    },
    {
      "name": "KYC",
      "description": "Background and Monitored Lists checks for KYC."
    },
    {
      "name": "Legal",
      "description": "Formations, filings and compliance."
    },
    {
      "name": "OAuth2",
      "description": "This set of authorization endpoints describe how to securely communicate with the API."
    },
    {
      "name": "Products",
      "description": ""
    },
    {
      "name": "ProfileFundDocumentTemplateController",
      "description": ""
    },
    {
      "name": "Profiles",
      "description": "A Profile contains all the details for a individual, trust, joint account, etc. These profiles can be defined and used for a variety of purposes, such as: organizing deals, making investments, or creating assets. A profile is used to complete tasks such as generating documents and performing KYC/KYB"
    },
    {
      "name": "Subscriptions",
      "description": ""
    },
    {
      "name": "TransactionsController",
      "description": ""
    },
    {
      "name": "Users",
      "description": "User objects are a generic type that includes all users in the system"
    },
    {
      "name": "ValidationsController",
      "description": ""
    },
    {
      "name": "Webhooks",
      "description": "Webhooks allow your system to subscribe to updates via an HTTPS POST request from our system to yours.",
      "externalDocs": {
        "description": "You can selectively subscribe to different resources and events"
      }
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/accreditations/count": {
      "get": {
        "tags": [
          "Accreditation"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "where",
            "in": "query",
            "description": "object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accreditation Count",
            "schema": {
              "$ref": "#/definitions/AccreditationCount"
            }
          }
        }
      }
    },
    "/accreditations/{id}": {
      "get": {
        "tags": [
          "Accreditation"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "object",
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AccreditationByID"
            }
          }
        }
      }
    },
    "/accreditations": {
      "get": {
        "tags": [
          "Accreditation"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "object",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AccreditationsResponse"
            }
          }
        }
      }
    },
    "/accreditation/{id}": {
      "put": {
        "tags": [
          "Accreditation"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "object",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccreditationUpdateBody"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/accreditation": {
      "post": {
        "tags": [
          "Accreditation"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccreditationRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AccreditationsResponse"
            }
          }
        }
      }
    },
    "/accreditations-delete/{id}": {
      "delete": {
        "tags": [
          "Accreditation"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          }
        ]
      }
    },
    "/accreditation-patch/{id}": {
      "patch": {
        "tags": [
          "Accreditation"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "type": "string",
            "required": true
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccreditationRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AccreditationsResponse"
            }
          }
        }
      }
    },
    "/accreditations-patch": {
      "patch": {
        "tags": [
          "Accreditation"
        ],
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccreditationRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AccreditationsResponse"
            }
          }
        }
      }
    },
    "/assets/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "object",
            "type": "string"
          }
        ]
      }
    },
    "/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "perPage",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "page",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "filter",
            "description": "object",
            "type": "string"
          }
        ]
      }
    },
    "/assets/documents-upload/{assetId}": {
      "put": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "type": "file",
            "name": "file",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AssetsDocumentUploadResponse"
            }
          }
        }
      }
    },
    "/assets/{assetId}/update-documents/{fileId}": {
      "put": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fileId",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "type": "file",
            "name": "file",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AssetsDocumentUploadResponse"
            }
          }
        }
      }
    },
    "/assets-replace-assestId/{assetId}": {
      "put": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssestsRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AssetsResponse"
            }
          }
        }
      }
    },
    "/assets-create": {
      "post": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ]
      }
    },
    "/assets/{assetId}/delete-documents/{fileId}": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fileId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AssetsResponse"
            }
          }
        }
      }
    },
    "/assets-delete/{assetId}": {
      "delete": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AssetsResponse"
            }
          }
        }
      }
    },
    "/assets-patch/{assetId}": {
      "patch": {
        "tags": [
          "Assets"
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "assetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssestsRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/AssetsResponse"
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "api_key",
      "in": "header"
    },
    "petstore_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://petstore.swagger.io/oauth/authorize",
      "flow": "implicit",
      "scopes": {
        "read:pets": "read your pets",
        "write:pets": "modify pets in your account"
      }
    }
  },
  "definitions": {
    "AccreditationCount": {
      "type": "object",
      "properties": {
        "count": {
          "type": "integer"
        }
      }
    },
    "AccreditationByID": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "ownerId": {
          "type": "string"
        },
        "tenantId": "string",
        "createdAt": {
          "type": "date"
        },
        "updatedAt": {
          "type": "date"
        },
        "profileId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "effectiveDate": {
          "type": "date"
        },
        "expirationDate": {
          "type": "date"
        },
        "exception": {
          "type": "string"
        },
        "files": {
          "type": "array"
        },
        "override": {},
        "status": {
          "type": "string"
        },
        "profileSnapshot": {},
        "result": {
          "type": "string"
        },
        "providerMetaId": {
          "type": "string"
        }
      }
    },
    "AccreditationsResponse": {
      "type": "array",
      "properties": {
        "id": {
          "type": "string"
        },
        "ownerId": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "createdAt": {
          "type": "date"
        },
        "updatedAt": {
          "type": "date"
        },
        "profileId": {
          "type": "string"
        },
        "type": "string",
        "effectiveDate": {
          "type": "date"
        },
        "expirationDate": {
          "type": "date"
        },
        "exception": {
          "type": "string"
        },
        "files": {
          "type": "array"
        },
        "override": {},
        "status": {
          "type": "string"
        },
        "profileSnapshot": {},
        "result": {
          "type": "string"
        },
        "providerMetaId": {
          "type": "string"
        }
      }
    },
    "ApiResponse": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "AccreditationUpdateBody": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "createdAt": {
          "type": "date"
        },
        "updatedAt": {
          "type": "date"
        },
        "providerMeta": {
          "typeId": {
            "type": "string"
          }
        },
        "profileId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "effectiveDate": {
          "type": "date"
        },
        "expirationDate": {
          "type": "date"
        },
        "exception": {
          "type": "string"
        },
        "files": {
          "type": "array"
        },
        "override": {},
        "status": {
          "type": "string"
        },
        "profileSnapshot": {},
        "result": {
          "type": "string"
        },
        "providerMetaId": {
          "type": "string"
        }
      }
    },
    "AccreditationRequestBody": {
      "type": "object",
      "properties": {
        "createdAt": {
          "type": "date"
        },
        "updatedAt": {
          "type": "date"
        },
        "providerMeta": {
          "typeId": {
            "type": "string"
          }
        },
        "profileId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "effectiveDate": {
          "type": "date"
        },
        "expirationDate": {
          "type": "date"
        },
        "exception": {
          "type": "string"
        },
        "files": {
          "type": "array"
        },
        "override": {
          "type": "object"
        },
        "status": {
          "type": "string"
        },
        "profileSnapshot": {
          "type": "object"
        },
        "result": {
          "type": "string"
        },
        "providerMetaId": {
          "type": "string"
        }
      }
    },
    "AssetsDocumentUploadResponse": {
      "type": "object"
    },
    "AssestsRequestBody": {
      "type": "object",
      "properties": {
        
      }
    },
    "AssetsResponse": {
      "type": "object",
      "properties": {
        
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "http://swagger.io"
  }
}