{
  "openapi": "3.0.0",
  "info": {
    "title": "TWO12 API Reference",
    "description": "<aside class=\"warning\">\n\nNote:  This API specification is currently alpha.  The schema definitions as described are subject to change.  New fields or schemas will be added.  Please contact <a href=\"mailto:support@two12.co\">support@two12.co</a> for questions or feedback.</aside>\n\nThe TWO12 API is organized around [REST](http://en.wikipedia.org/wiki/Representational_State_Transfer).  Our API has predictable resource-oriented URLs, accepts and returns [JSON-encoded](http://www.json.org/) request and response bodies, and uses standard HTTP response codes, authentication, and verbs.\n\nThe TWO12 API may differ for every account as we release new versions and tailor functionality based on customer needs.\n\n## Request Basics\n### Headers\nCurrently, this API only communicates with JSON, so in some situations you may need to set `Accept` or `Content-Type` to `application/JSON.\nTWO12 Technology enables platforms and applications for various organizations and users. To ensure an orderly separation of resource ownership, this API requires tenant identification in all requests.  In the request header, set the value `x-tenant-id` to your id. All requests without this value will be rejected with a 401 response.\n",
    "version": "Version 0.5.2",
    "termsOfService": "https://two12.co/terms",
    "contact": {
      "name": "API Support",
      "url": "https://sandbox.two12.co",
      "email": "info@svp.TWO12.co"
    }
  },
  "servers": [
    {
      "url": "https://sandbox.two12.co"
    }
  ],
  "paths": {
    "/token": {
      "get": {
        "x-controller-name": "TokenController",
        "tags": ["Token"],
        "operationId": "generateToken",
        "summary": "Generate Token",
        "deprecated": false,
        "parameters": [
          {
            "in": "query",
            "name": "client_id",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "companyParticipantId",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "token": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/healthz": {
      "get": {
        "x-controller-name": "PingController",
        "tags": ["Ping"],
        "summary": "Health check",
        "operationId": "",
        "deprecated": false,
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": "Welcome to TWO12 backend"
              }
            }
          }
        }
      }
    },
    "/spv-company": {
      "post": {
        "x-controller-name": "organizerSignUp",
        "tags": ["Organizer Sign-Up"],
        "operationId": "",
        "summary": "Company Register",
        "deprecated": false,
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "targetCompany": "TWO12",
                "companyName": "Example LLC",
                "companyEmail": "example@yopmail.co"
              },
              "schema": {
                "$ref": "#/components/schemas/OrganizerSignUp"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "companyDetails": {
                      "_id": "633ac1d0b54a12a120650b88e",
                      "companyName": "TWO12",
                      "companyEmail": "two12@yopmail.com"
                    },
                    "companyPartipantId": "633ac1d0b124a45120650b894"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "companyDetails": {
                          "type": "object",
                          "properties": {
                            "_id": {
                              "type": "string"
                            },
                            "companyName": {
                              "type": "string"
                            },
                            "companyEmail": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "x-controller-name": "organizerSignUp",
        "tags": ["Organizer Sign-Up"],
        "operationId": "",
        "summary": "Company details",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/spv-company/company-participant": {
      "get": {
        "x-controller-name": "organizerSignUp",
        "tags": ["Organizer Sign-Up"],
        "operationId": "",
        "summary": "Retrieve all company participants",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_id": "636f80242c2060689443195d",
                      "company": {
                        "_id": "636f80242c20606894431958",
                        "targetCompany": "TWO12",
                        "companyName": "SPV-TWO12"
                      }
                    }
                  ],
                  "success": true
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "company": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "targetCompany": {
                                "type": "string"
                              },
                              "companyName": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company-survey": {
      "get": {
        "x-controller-name": "CompanySurveyController",
        "tags": ["Company survey"],
        "summary": "Retrieve company survey",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "isWhiteLebal": true,
                    "_id": "6388ccb5277fe900113f74cd",
                    "data": {
                      "companyId": "63710c3bd3e82300125f675f",
                      "firstName": "John",
                      "lastName": "Doe",
                      "subscriptionAmount": "",
                      "emailForSigning": "john.doe@yopmail.com",
                      "phoneNumber": "9999999999",
                      "isUsEntity": "Yes",
                      "date_of_birth": "1967-12-15T15:42:00.000Z",
                      "tin": "11-123123",
                      "street_line_1": "590, Mall Road",
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "123123",
                      "country": "United States",
                      "countryIsoCode": "US",
                      "individualOrEntity": "Individual",
                      "individualStatus": "Single Individual",
                      "residence": "",
                      "spouseNameAndEmail": "",
                      "nonIndividualsStatus": "",
                      "irsFormType": "W-9",
                      "accreditedInvestorStatus": "[INDIVIDUAL] If an individual, Subscriber has a net worth, either individually or upon a joint basis with Subscriber’s spouse, of at least $1,000,000, or has had an individual income in excess of $200,000 for each of the two most recent years, or a joint income with Subscriber’s spouse in excess of $300,000 in each of those years, and has a reasonable expectation of reaching the same income level in the current year.",
                      "qualifiedPurchaserStatus": "[INDIVIDUAL] Any natural Person who is deemed to be a “knowledgeable employee” of the Company as such term is defined in Rule 3c-5(a)(4) of the Investment Company Act.",
                      "nameOfTheWiringBank": "Bank Of America",
                      "wiringBankLocation": "Yes",
                      "isCustomerOfWiringBank": "Yes",
                      "isExceptedInvestmentCompany": "",
                      "additionalCertificationForExceptedInvestmentCompany": "",
                      "entityJurisdictionOfOrganization": "",
                      "entityLegalNameOfSigner": "",
                      "isFollowingRepresentations": "INDIVIDUAL",
                      "portCoName": "TWO12 llc",
                      "portCoValuation": "100000000",
                      "deadline": "2023-06-30T15:42:00.000Z",
                      "portCoFiles": [
                        {
                          "conversionStatus": {
                            "scheduled": false
                          },
                          "sharing": {
                            "companyParticipantIds": [],
                            "companyIds": []
                          },
                          "converted": false,
                          "visitsCount": 0,
                          "type": "GENERAL",
                          "size": "13264",
                          "_id": "6388cbb1277fe900113f74be",
                          "company": "63710c3bd3e82300125f675f",
                          "location": "eb701396-cfb0-4f39-bce5-bc30f1bc4e80_dummy.pdf",
                          "name": "dummy.pdf"
                        }
                      ],
                      "irsDocuments": [
                        {
                          "conversionStatus": {
                            "scheduled": false
                          },
                          "sharing": {
                            "companyParticipantIds": [],
                            "companyIds": []
                          },
                          "converted": false,
                          "visitsCount": 0,
                          "type": "GENERAL",
                          "size": "13264",
                          "_id": "6388cbb3bb0ae300110af1c2",
                          "company": "63710c3bd3e82300125f675f",
                          "location": "62b5cf9f-bd26-4b1f-9105-9c5c4b9edb53_dummy.pdf",
                          "name": "dummy.pdf"
                        }
                      ]
                    },
                    "companyId": "63710c3bd3e82300125f675f",
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "CompanySurveyController",
        "tags": ["Company survey"],
        "summary": "Create company survey",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyId": "63710c3bd3e82300125f675f",
                "firstName": "John",
                "lastName": "Doe",
                "subscriptionAmount": "",
                "emailForSigning": "john.doe@yopmail.com",
                "phoneNumber": "9999999999",
                "isUsEntity": "Yes",
                "date_of_birth": "1967-12-15T15:42:00.000Z",
                "tin": "11-123123",
                "street_line_1": "590, Mall Road",
                "city": "Austin",
                "state": "TX",
                "postal_code": "123123",
                "country": "United States",
                "countryIsoCode": "US",
                "individualOrEntity": "Individual",
                "individualStatus": "Single Individual",
                "residence": "",
                "spouseNameAndEmail": "",
                "nonIndividualsStatus": "",
                "irsFormType": "W-9",
                "accreditedInvestorStatus": "[INDIVIDUAL] If an individual, Subscriber has a net worth, either individually or upon a joint basis with Subscriber’s spouse, of at least $1,000,000, or has had an individual income in excess of $200,000 for each of the two most recent years, or a joint income with Subscriber’s spouse in excess of $300,000 in each of those years, and has a reasonable expectation of reaching the same income level in the current year.",
                "qualifiedPurchaserStatus": "[INDIVIDUAL] Any natural Person who is deemed to be a “knowledgeable employee” of the Company as such term is defined in Rule 3c-5(a)(4) of the Investment Company Act.",
                "nameOfTheWiringBank": "Bank Of America",
                "wiringBankLocation": "Yes",
                "isCustomerOfWiringBank": "Yes",
                "isExceptedInvestmentCompany": "",
                "additionalCertificationForExceptedInvestmentCompany": "",
                "entityJurisdictionOfOrganization": "",
                "entityLegalNameOfSigner": "",
                "isFollowingRepresentations": "INDIVIDUAL",
                "portCoName": "TWO12 llc",
                "portCoValuation": "100000000",
                "deadline": "2023-06-30T15:42:00.000Z",
                "businessName": "TWO12",
                "businessDescription": "TWO12 description",
                "businessPhoneNumber": "9999999999",
                "businessStreetLine1": "80",
                "businessCity": "Austin",
                "businessState": "TX",
                "businessCountry": "United State",
                "businessCountryIsoCode": "TX",
                "businessPostalCode": "123123",
                "designation": "CEO",
                "naics": 43,
                "naicsDescription": "",
                "ownership_percentage": "30",
                "urls": "https://two12.co",
                "legal_structure": "llc",
                "incorporation_state": "DE",
                "established_on": "1967-12-15T15:42:00.000Z",
                "isEin": "YES",
                "bankType": "SYNDICATE BANK",
                "ein": "11-1231231"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "isWhiteLebal": true,
                    "_id": "6388ccb5277fe900113f74cd",
                    "data": {
                      "companyId": "63710c3bd3e82300125f675f",
                      "firstName": "John",
                      "lastName": "Doe",
                      "subscriptionAmount": "",
                      "emailForSigning": "john.doe@yopmail.com",
                      "phoneNumber": "9999999999",
                      "isUsEntity": "Yes",
                      "date_of_birth": "1967-12-15T15:42:00.000Z",
                      "tin": "11-123123",
                      "street_line_1": "590, Mall Road",
                      "city": "Austin",
                      "state": "TX",
                      "postal_code": "123123",
                      "country": "United States",
                      "countryIsoCode": "US",
                      "individualOrEntity": "Individual",
                      "individualStatus": "Single Individual",
                      "residence": "",
                      "spouseNameAndEmail": "",
                      "nonIndividualsStatus": "",
                      "irsFormType": "W-9",
                      "accreditedInvestorStatus": "[INDIVIDUAL] If an individual, Subscriber has a net worth, either individually or upon a joint basis with Subscriber’s spouse, of at least $1,000,000, or has had an individual income in excess of $200,000 for each of the two most recent years, or a joint income with Subscriber’s spouse in excess of $300,000 in each of those years, and has a reasonable expectation of reaching the same income level in the current year.",
                      "qualifiedPurchaserStatus": "[INDIVIDUAL] Any natural Person who is deemed to be a “knowledgeable employee” of the Company as such term is defined in Rule 3c-5(a)(4) of the Investment Company Act.",
                      "nameOfTheWiringBank": "Bank Of America",
                      "wiringBankLocation": "Yes",
                      "isCustomerOfWiringBank": "Yes",
                      "isExceptedInvestmentCompany": "",
                      "additionalCertificationForExceptedInvestmentCompany": "",
                      "entityJurisdictionOfOrganization": "",
                      "entityLegalNameOfSigner": "",
                      "isFollowingRepresentations": "INDIVIDUAL",
                      "portCoName": "TWO12 llc",
                      "portCoValuation": "100000000",
                      "deadline": "2023-06-30T15:42:00.000Z",
                      "portCoFiles": [
                        {
                          "conversionStatus": {
                            "scheduled": false
                          },
                          "sharing": {
                            "companyParticipantIds": [],
                            "companyIds": []
                          },
                          "converted": false,
                          "visitsCount": 0,
                          "type": "GENERAL",
                          "size": "13264",
                          "_id": "6388cbb1277fe900113f74be",
                          "company": "63710c3bd3e82300125f675f",
                          "location": "eb701396-cfb0-4f39-bce5-bc30f1bc4e80_dummy.pdf",
                          "name": "dummy.pdf"
                        }
                      ],
                      "irsDocuments": [
                        {
                          "conversionStatus": {
                            "scheduled": false
                          },
                          "sharing": {
                            "companyParticipantIds": [],
                            "companyIds": []
                          },
                          "converted": false,
                          "visitsCount": 0,
                          "type": "GENERAL",
                          "size": "13264",
                          "_id": "6388cbb3bb0ae300110af1c2",
                          "company": "63710c3bd3e82300125f675f",
                          "location": "62b5cf9f-bd26-4b1f-9105-9c5c4b9edb53_dummy.pdf",
                          "name": "dummy.pdf"
                        }
                      ]
                    },
                    "companyId": "63710c3bd3e82300125f675f",
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/ein-request": {
      "get": {
        "x-controller-name": "EinRequestController",
        "tags": ["Ein request"],
        "summary": "Retrieve EIN request status",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "status": 0,
                    "_id": "6388d5a8bb0ae300110af20d",
                    "companyId": "6388d234bb0ae300110af1e1",
                    "companyParticipantId": "6388d234bb0ae300110af1e6",
                    "createdAt": "2022-12-01T16:26:16.126Z",
                    "updatedAt": "2022-12-01T16:26:16.126Z",
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "EinRequestController",
        "tags": ["Ein request"],
        "summary": "Create EIN request",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyId": "6388d234bb0ae300110af1e1",
                "companyParticipantId": "6388d234bb0ae300110af1e6"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Request has been sent to Paralegal",
                  "data": {
                    "status": 0,
                    "_id": "6388d5a8bb0ae300110af20d",
                    "companyId": "6388d234bb0ae300110af1e1",
                    "companyParticipantId": "6388d234bb0ae300110af1e6",
                    "createdAt": "2022-12-01T16:26:16.126Z",
                    "updatedAt": "2022-12-01T16:26:16.126Z",
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/banking/account": {
      "get": {
        "x-controller-name": "BankingController",
        "tags": ["Banking"],
        "summary": "Retrieve bank account details (Grasshopper)",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "account_product_id": "apt_11hjnvrydnp81z",
                  "address": {
                    "street_line_1": "302",
                    "street_line_2": null,
                    "city": "Austin",
                    "state": "TX",
                    "postal_code": "123123"
                  },
                  "account_type": "checking",
                  "bank_id": "bank_treasuryprime",
                  "person_ids": ["psn_11hsytv8gnd6a5"],
                  "available_balance": "0.00",
                  "name": "Two12",
                  "org_id": "org_1gdfvb3bbd3",
                  "updated_at": "2022-12-18T19:35:09Z",
                  "currency": "USD",
                  "routing_number": "000000000",
                  "status": "open",
                  "primary_person_id": "psn_11hsytv8gnd6a5",
                  "account_number": "137020584869",
                  "locked": false,
                  "id": "acct_11hsytv8gnd69z",
                  "funded": false,
                  "business_ids": ["com_11hsytv8gnd6a2"],
                  "current_balance": "0.00",
                  "created_at": "2022-12-18T19:35:04Z",
                  "lock": null,
                  "userdata": null
                }
              }
            }
          }
        }
      }
    },
    "/banking/spv-bank": {
      "get": {
        "x-controller-name": "BankingController",
        "tags": ["Banking"],
        "summary": "Retrieve bank account details (Syndicate Bank / Manual Bank)",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {}
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "BankingController",
        "tags": ["Banking"],
        "summary": "Save bank account details (Syndicate Bank / Manual Bank)",
        "operationId": "",
        "deprecated": false,
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyId": "6388bf2372d1ec70ce96e542",
                "name": "John",
                "bankName": "Bank Of America",
                "achRoutingNumber": "000000000",
                "wireRoutingNumber": "000000000",
                "bankType": "SYNDICATE BANK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {}
              }
            }
          }
        }
      },
      "put": {
        "x-controller-name": "BankingController",
        "tags": ["Banking"],
        "summary": "Update bank account details (Syndicate Bank / Manual Bank)",
        "operationId": "",
        "deprecated": false,
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "63a0c2ceb8002e73aa3d1f55",
                "companyId": "6388bf2372d1ec70ce96e542",
                "name": "John",
                "bankName": "Bank Of America",
                "achRoutingNumber": "000000000",
                "wireRoutingNumber": "000000000",
                "bankType": "SYNDICATE BANK"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {}
              }
            }
          }
        }
      }
    },
    "/portCo": {
      "get": {
        "x-controller-name": "PortCoInfoController",
        "tags": ["PortCo Information"],
        "summary": "Retrieve portCo information",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "websites": ["https://two12.co", "https://two12.com"],
                      "tagline": "Product driven startup finance",
                      "categories": "IT",
                      "description": "Product driven startup finance",
                      "videos": ["https://two12.co", "https://two12.com"],
                      "founders": [
                        {
                          "name": "John",
                          "linkedin": "https://linkedin.com",
                          "profilePic": "https://example.com/dummy.png"
                        }
                      ],
                      "investmentDocs": [
                        {
                          "path": "https://s3.amazonaws.com/docs.two12.co/805ff990-2054-4452-96f5-6eed9ae99656_dummy.pdf",
                          "filename": "805ff990-2054-4452-96f5-6eed9ae99656_dummy.pdf"
                        }
                      ],
                      "_id": "638f6ef3dce3613af48e6e6c",
                      "companyId": "6388c6731e3a4500111ca4df",
                      "companyName": "TWO12",
                      "address_line1": "Address line 1",
                      "address_line2": "Address line 2",
                      "city": "Austin",
                      "state": "Texas ",
                      "country": "US",
                      "deck": "https://www.w3.org/Provider/Style/dummy.html",
                      "closing_date": "2023-12-01T00:00:00.000Z",
                      "traction": "",
                      "createdAt": "2022-12-06T16:33:55.135Z",
                      "updatedAt": "2022-12-06T16:33:55.135Z",
                      "__v": 0
                    }
                  ],
                  "success": true
                }
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "PortCoInfoController",
        "tags": ["PortCo Information"],
        "summary": "Create portCo information",
        "operationId": "",
        "deprecated": false,
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Portfolio company added successfully",
                  "data": {
                    "websites": ["https://two12.co", "https://two12.com"],
                    "tagline": "Product driven startup finance",
                    "categories": "IT",
                    "description": "Product driven startup finance",
                    "videos": ["https://two12.co", "https://two12.com"],
                    "founders": [
                      {
                        "name": "John",
                        "linkedin": "https://linkedin.com",
                        "profilePic": "https://example.com/dummy.png"
                      }
                    ],
                    "investmentDocs": [
                      {
                        "path": "https://s3.amazonaws.com/docs.two12.co/805ff990-2054-4452-96f5-6eed9ae99656_dummy.pdf",
                        "filename": "805ff990-2054-4452-96f5-6eed9ae99656_dummy.pdf"
                      }
                    ],
                    "_id": "638f6ef3dce3613af48e6e6c",
                    "companyId": "6388c6731e3a4500111ca4df",
                    "companyName": "TWO12",
                    "address_line1": "Address line 1",
                    "address_line2": "Address line 2",
                    "city": "Austin",
                    "state": "Texas ",
                    "country": "US",
                    "deck": "https://www.w3.org/Provider/Style/dummy.html",
                    "closing_date": "2023-12-01T00:00:00.000Z",
                    "traction": "",
                    "createdAt": "2022-12-06T16:33:55.135Z",
                    "updatedAt": "2022-12-06T16:33:55.135Z",
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      },
      "put": {
        "x-controller-name": "PortCoInfoController",
        "tags": ["PortCo Information"],
        "summary": "Update portCo information",
        "operationId": "",
        "deprecated": false,
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "websites": ["https://two12.co", "https://two12.com"],
                    "tagline": "Product driven startup finance",
                    "categories": "IT",
                    "description": "Product driven startup finance",
                    "videos": ["https://two12.co", "https://two12.com"],
                    "founders": [
                      {
                        "name": "John",
                        "linkedin": "https://linkedin.com",
                        "profilePic": "https://example.com/dummy.png"
                      }
                    ],
                    "investmentDocs": [
                      {
                        "path": "https://s3.amazonaws.com/docs.two12.co/805ff990-2054-4452-96f5-6eed9ae99656_dummy.pdf",
                        "filename": "805ff990-2054-4452-96f5-6eed9ae99656_dummy.pdf"
                      }
                    ],
                    "_id": "638f6ef3dce3613af48e6e6c",
                    "companyId": "6388c6731e3a4500111ca4df",
                    "companyName": "TWO12",
                    "address_line1": "Address line 1",
                    "address_line2": "Address line 2",
                    "city": "Austin",
                    "state": "Texas ",
                    "country": "US",
                    "deck": "https://www.w3.org/Provider/Style/dummy.html",
                    "closing_date": "2023-12-01T00:00:00.000Z",
                    "traction": "",
                    "createdAt": "2022-12-06T16:33:55.135Z",
                    "updatedAt": "2022-12-06T16:33:55.135Z",
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/company-investor": {
      "get": {
        "x-controller-name": "InvestorController",
        "tags": ["Investor"],
        "summary": "Retrieve all company investors",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_id": "63a9996793dff82b7b051002",
                      "role": "EMPLOYEE",
                      "accessControl": "NONE",
                      "shareReport": "NONE",
                      "capTableVisibility": "SUMMARY",
                      "isSuspended": false,
                      "isRegistrer": false,
                      "boardApprover": false,
                      "collate": false,
                      "shareImpact": false,
                      "investmentDocuments": [],
                      "certificates": [],
                      "isSpv": true,
                      "isCf": false,
                      "isProspect": false,
                      "simulationVisibility": "NONE",
                      "investorUpdateVisibility": "NONE",
                      "bmVisibility": "NONE",
                      "taxId": "false",
                      "subCode": "false",
                      "sendCapitalCallPaymentConfirmations": true,
                      "isPrimaryContact": true,
                      "annualAndQuarterlyReport": true,
                      "annualMeeting": true,
                      "capitalAccountStatements": true,
                      "capitalCalls": true,
                      "distributions": true,
                      "general": true,
                      "legal": true,
                      "tax": true,
                      "wireInstructions": true,
                      "company": "6388bf2372d1ec70ce96e542",
                      "user": {
                        "_id": "6379df36ac5e1e0704811109",
                        "personalInfo": {
                          "first_name": "Arjun",
                          "last_name": "Sonik",
                          "email": "arjun.sonik@yopmail.com",
                          "date": "2022-11-20T08:03:02.221Z"
                        },
                        "loginInfo": {
                          "isGoogleAuthorised": false,
                          "isSuspended": false,
                          "hasRegistered": true
                        },
                        "lastLogin": "2022-12-22T08:54:51.577Z"
                      },
                      "partnerNumber": "8ace619e-2320-4210-abf3-8e8510e5b593",
                      "ventureName": "",
                      "invitedBy": "",
                      "former": false,
                      "firstName": "Arjun",
                      "lastName": "Sonik",
                      "isInvited": false,
                      "email": "arjun.sonik@yopmail.com",
                      "cfIdentifier": "",
                      "prospect": "",
                      "createdDate": "2022-12-26T12:53:59.632Z",
                      "vestingPauseDates": [],
                      "__v": 0
                    }
                  ],
                  "success": true
                }
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "InvestorController",
        "tags": ["Investor"],
        "summary": "Create company investors",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "firstName": "David",
                "lastName": "Moyes",
                "email": "",
                "companyId": "6388bf2372d1ec70ce96e542",
                "emailUnknown": true,
                "entityName": "",
                "commitedAmount": "6000"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Participant has been added",
                  "data": {
                    "user": {
                      "personalInfo": {
                        "isGrowthOfficer": false,
                        "first_name": "David",
                        "last_name": "Moyes",
                        "email": "f0a39edf-acc0-492a-9fde-2cc999854ef4@example.com",
                        "date": "2022-12-26T18:29:39.559Z",
                        "isComplianceOfficer": false,
                        "crdNumber": ""
                      },
                      "status": {
                        "kycStatus": "PENDING",
                        "accreditationStatus": "PENDING",
                        "amlStatus": "PENDING"
                      },
                      "invitedBy": {
                        "brokerDealers": [],
                        "companies": ["62f110cbe1536a00134ff471"],
                        "complianceOfficers": []
                      },
                      "loginInfo": {
                        "isGoogleAuthorised": false,
                        "isSuspended": false,
                        "isNew": true,
                        "hasRegistered": false
                      },
                      "_id": "63a9e813c51c54482b90986d",
                      "__v": 0
                    },
                    "companyParticipant": {
                      "role": "INVESTOR",
                      "accessControl": "NONE",
                      "shareReport": "NONE",
                      "capTableVisibility": "SUMMARY",
                      "isSuspended": false,
                      "isRegistrer": false,
                      "boardApprover": false,
                      "collate": false,
                      "shareImpact": false,
                      "investmentDocuments": [],
                      "certificates": [],
                      "isSpv": true,
                      "isCf": false,
                      "isProspect": false,
                      "simulationVisibility": "NONE",
                      "investorUpdateVisibility": "NONE",
                      "bmVisibility": "NONE",
                      "taxId": "false",
                      "subCode": "false",
                      "sendCapitalCallPaymentConfirmations": true,
                      "isPrimaryContact": true,
                      "annualAndQuarterlyReport": true,
                      "annualMeeting": true,
                      "capitalAccountStatements": true,
                      "capitalCalls": true,
                      "distributions": true,
                      "general": true,
                      "legal": true,
                      "tax": true,
                      "wireInstructions": true,
                      "_id": "63a9e813c51c54482b90986e",
                      "company": "6388bf2372d1ec70ce96e542",
                      "user": "63a9e813c51c54482b90986d",
                      "email": "f0a39edf-acc0-492a-9fde-2cc999854ef4@example.com",
                      "partnerNumber": "b7e33f92-de3c-4e2c-a4a9-38f929e6d95e",
                      "ventureName": "",
                      "invitedBy": "",
                      "former": false,
                      "firstName": "David",
                      "lastName": "Moyes",
                      "isInvited": false,
                      "cfIdentifier": "",
                      "prospect": "",
                      "createdDate": "2022-12-26T18:29:39.566Z",
                      "commitedAmount": "",
                      "vestingPauseDates": [],
                      "__v": 0
                    }
                  },
                  "success": true
                }
              }
            }
          }
        }
      },
      "put": {
        "x-controller-name": "InvestorController",
        "tags": ["Investor"],
        "summary": "Create company investors",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "firstName": "Gaurav",
                "lastName": "Moyes",
                "email": "",
                "companyId": "6388bf2372d1ec70ce96e542",
                "emailUnknown": true,
                "entityName": "",
                "commitedAmount": "6000",
                "companyParticipantId": "63a9996793dff82b7b051002",
                "partnerNumber": "a4a7045b-1b56-4955-9c1e-af76d2255a58"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "message": "Participant has been updated",
                  "data": {
                    "user": {
                      "personalInfo": {
                        "isGrowthOfficer": false,
                        "first_name": "David",
                        "last_name": "Moyes",
                        "email": "f0a39edf-acc0-492a-9fde-2cc999854ef4@example.com",
                        "date": "2022-12-26T18:29:39.559Z",
                        "isComplianceOfficer": false,
                        "crdNumber": ""
                      },
                      "status": {
                        "kycStatus": "PENDING",
                        "accreditationStatus": "PENDING",
                        "amlStatus": "PENDING"
                      },
                      "invitedBy": {
                        "brokerDealers": [],
                        "companies": ["62f110cbe1536a00134ff471"],
                        "complianceOfficers": []
                      },
                      "loginInfo": {
                        "isGoogleAuthorised": false,
                        "isSuspended": false,
                        "isNew": true,
                        "hasRegistered": false
                      },
                      "_id": "63a9e813c51c54482b90986d",
                      "__v": 0
                    },
                    "companyParticipant": {
                      "role": "INVESTOR",
                      "accessControl": "NONE",
                      "shareReport": "NONE",
                      "capTableVisibility": "SUMMARY",
                      "isSuspended": false,
                      "isRegistrer": false,
                      "boardApprover": false,
                      "collate": false,
                      "shareImpact": false,
                      "investmentDocuments": [],
                      "certificates": [],
                      "isSpv": true,
                      "isCf": false,
                      "isProspect": false,
                      "simulationVisibility": "NONE",
                      "investorUpdateVisibility": "NONE",
                      "bmVisibility": "NONE",
                      "taxId": "false",
                      "subCode": "false",
                      "sendCapitalCallPaymentConfirmations": true,
                      "isPrimaryContact": true,
                      "annualAndQuarterlyReport": true,
                      "annualMeeting": true,
                      "capitalAccountStatements": true,
                      "capitalCalls": true,
                      "distributions": true,
                      "general": true,
                      "legal": true,
                      "tax": true,
                      "wireInstructions": true,
                      "_id": "63a9e813c51c54482b90986e",
                      "company": "6388bf2372d1ec70ce96e542",
                      "user": "63a9e813c51c54482b90986d",
                      "email": "f0a39edf-acc0-492a-9fde-2cc999854ef4@example.com",
                      "partnerNumber": "b7e33f92-de3c-4e2c-a4a9-38f929e6d95e",
                      "ventureName": "",
                      "invitedBy": "",
                      "former": false,
                      "firstName": "David",
                      "lastName": "Moyes",
                      "isInvited": false,
                      "cfIdentifier": "",
                      "prospect": "",
                      "createdDate": "2022-12-26T18:29:39.566Z",
                      "commitedAmount": "",
                      "vestingPauseDates": [],
                      "__v": 0
                    }
                  },
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/company-investor/resend": {
      "post": {
        "x-controller-name": "InvestorController",
        "tags": ["Investor"],
        "summary": "Send invitation to company investor or participant",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyParticipantId": "63a9f09ff5a0a04a4fb4bae5",
                "receiveInvite": false,
                "comments": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Registration email have been sent"
                }
              }
            }
          }
        }
      }
    },
    "/company-investor/invite_all": {
      "post": {
        "x-controller-name": "InvestorController",
        "tags": ["Investor"],
        "summary": "Send invitation to all company investors or participants",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyId": "6388bf2372d1ec70ce96e542",
                "receiveInvite": true,
                "comments": "send all"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "success": true,
                  "message": "Registration emails have been sent"
                }
              }
            }
          }
        }
      }
    },
    "/kyc": {
      "get": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Get KYC details",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "inquiryId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "type": "inquiry",
                  "id": "inq_9MN2VYx4KjZ7go9KSuUk1W3Z",
                  "attributes": {
                    "status": "completed",
                    "reference-id": null,
                    "note": null,
                    "behaviors": {
                      "request-spoof-attempts": 0,
                      "user-agent-spoof-attempts": 0,
                      "distraction-events": 1,
                      "hesitation-baseline": 39595,
                      "hesitation-count": 7,
                      "hesitation-time": 27719,
                      "shortcut-copies": 0,
                      "shortcut-pastes": 0,
                      "autofill-cancels": 9,
                      "autofill-starts": 0,
                      "devtools-open": false,
                      "completion-time": 40.585583285,
                      "hesitation-percentage": 70.00631392852632,
                      "behavior-threat-level": "low"
                    },
                    "tags": [],
                    "creator": "API",
                    "reviewer-comment": null,
                    "created-at": "2022-12-13T11:25:43.000Z",
                    "started-at": "2022-12-13T11:25:57.000Z",
                    "completed-at": "2022-12-13T11:26:24.000Z",
                    "failed-at": null,
                    "marked-for-review-at": null,
                    "decisioned-at": null,
                    "expired-at": null,
                    "redacted-at": null,
                    "previous-step-name": "verification_selfie",
                    "next-step-name": "success",
                    "fields": {}
                  },
                  "relationships": {
                    "account": {
                      "data": {
                        "type": "account",
                        "id": "act_ieU3JixNapupDi6Tm8E9NfFr"
                      }
                    },
                    "template": {
                      "data": null
                    },
                    "inquiry-template": {
                      "data": {
                        "type": "inquiry-template",
                        "id": "itmpl_uAA47KUGACTY8ZWY6YZwYqyr"
                      }
                    },
                    "inquiry-template-version": {
                      "data": {
                        "type": "inquiry-template-version",
                        "id": "itmplv_sLfEL9AVStU5zTg21bDRPTbX"
                      }
                    },
                    "reviewer": {
                      "data": null
                    },
                    "reports": {
                      "data": []
                    },
                    "verifications": {
                      "data": [
                        {
                          "type": "verification/government-id",
                          "id": "ver_Zp3CbbxYrCmZxyY9QYpRxHg7"
                        },
                        {
                          "type": "verification/selfie",
                          "id": "ver_n7vqK5wRymyFXgPwvUtHNbgF"
                        }
                      ]
                    },
                    "sessions": {
                      "data": [
                        {
                          "type": "inquiry-session",
                          "id": "iqse_dDHjUmJgepxttM9XMATa4uix"
                        }
                      ]
                    },
                    "documents": {
                      "data": [
                        {
                          "type": "document/government-id",
                          "id": "doc_k1TNk5KkxYZaMFRByUgC6b9h"
                        }
                      ]
                    },
                    "selfies": {
                      "data": [
                        {
                          "type": "selfie/profile-and-center",
                          "id": "self_LGxkGVVb491KzMrE8BvU2HgB"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Verify KYC",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "inquiryId": "inq_dZCyAt3KwbqbSy3zFKtJQVGV",
                "companyId": "63971a047bca2300128ba103"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_id": "6398726bec4b8e7a3ea321ba",
                  "inquiryId": "inq_9MN2VYx4KjZ7go9KSuUk1W3Z",
                  "companyId": "63971a047bca2300128ba103",
                  "companyParticipantId": "63710c3bd3e82300125f6764",
                  "status": "completed",
                  "type": "KYC",
                  "createdAt": "2022-12-13T12:39:07.435Z",
                  "updatedAt": "2022-12-13T12:39:07.435Z",
                  "__v": 0
                }
              }
            }
          }
        }
      }
    },
    "/kyc/link": {
      "get": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Get KYC link",
        "operationId": "",
        "deprecated": false
      }
    },
    "/kyb": {
      "get": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Get KYB details",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "inquiryId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "type": "inquiry",
                  "id": "inq_9MN2VYx4KjZ7go9KSuUk1W3Z",
                  "attributes": {
                    "status": "completed",
                    "reference-id": null,
                    "note": null,
                    "behaviors": {
                      "request-spoof-attempts": 0,
                      "user-agent-spoof-attempts": 0,
                      "distraction-events": 1,
                      "hesitation-baseline": 39595,
                      "hesitation-count": 7,
                      "hesitation-time": 27719,
                      "shortcut-copies": 0,
                      "shortcut-pastes": 0,
                      "autofill-cancels": 9,
                      "autofill-starts": 0,
                      "devtools-open": false,
                      "completion-time": 40.585583285,
                      "hesitation-percentage": 70.00631392852632,
                      "behavior-threat-level": "low"
                    },
                    "tags": [],
                    "creator": "API",
                    "reviewer-comment": null,
                    "created-at": "2022-12-13T11:25:43.000Z",
                    "started-at": "2022-12-13T11:25:57.000Z",
                    "completed-at": "2022-12-13T11:26:24.000Z",
                    "failed-at": null,
                    "marked-for-review-at": null,
                    "decisioned-at": null,
                    "expired-at": null,
                    "redacted-at": null,
                    "previous-step-name": "verification_selfie",
                    "next-step-name": "success",
                    "fields": {}
                  },
                  "relationships": {
                    "account": {
                      "data": {
                        "type": "account",
                        "id": "act_ieU3JixNapupDi6Tm8E9NfFr"
                      }
                    },
                    "template": {
                      "data": null
                    },
                    "inquiry-template": {
                      "data": {
                        "type": "inquiry-template",
                        "id": "itmpl_uAA47KUGACTY8ZWY6YZwYqyr"
                      }
                    },
                    "inquiry-template-version": {
                      "data": {
                        "type": "inquiry-template-version",
                        "id": "itmplv_sLfEL9AVStU5zTg21bDRPTbX"
                      }
                    },
                    "reviewer": {
                      "data": null
                    },
                    "reports": {
                      "data": []
                    },
                    "verifications": {
                      "data": [
                        {
                          "type": "verification/government-id",
                          "id": "ver_Zp3CbbxYrCmZxyY9QYpRxHg7"
                        },
                        {
                          "type": "verification/selfie",
                          "id": "ver_n7vqK5wRymyFXgPwvUtHNbgF"
                        }
                      ]
                    },
                    "sessions": {
                      "data": [
                        {
                          "type": "inquiry-session",
                          "id": "iqse_dDHjUmJgepxttM9XMATa4uix"
                        }
                      ]
                    },
                    "documents": {
                      "data": [
                        {
                          "type": "document/government-id",
                          "id": "doc_k1TNk5KkxYZaMFRByUgC6b9h"
                        }
                      ]
                    },
                    "selfies": {
                      "data": [
                        {
                          "type": "selfie/profile-and-center",
                          "id": "self_LGxkGVVb491KzMrE8BvU2HgB"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Verify KYB",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "inquiryId": "inq_dZCyAt3KwbqbSy3zFKtJQVGV",
                "companyId": "63971a047bca2300128ba103"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_id": "6398726bec4b8e7a3ea321ba",
                  "inquiryId": "inq_9MN2VYx4KjZ7go9KSuUk1W3Z",
                  "companyId": "63971a047bca2300128ba103",
                  "companyParticipantId": "63710c3bd3e82300125f6764",
                  "status": "completed",
                  "type": "KYB",
                  "createdAt": "2022-12-13T12:39:07.435Z",
                  "updatedAt": "2022-12-13T12:39:07.435Z",
                  "__v": 0
                }
              }
            }
          }
        }
      }
    },
    "/kyb/link": {
      "get": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Get KYB link",
        "operationId": "",
        "deprecated": false
      }
    },
    "/Accreditation": {
      "get": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Get Accreditation details",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "inquiryId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "type": "inquiry",
                  "id": "inq_9MN2VYx4KjZ7go9KSuUk1W3Z",
                  "attributes": {
                    "status": "completed",
                    "reference-id": null,
                    "note": null,
                    "behaviors": {
                      "request-spoof-attempts": 0,
                      "user-agent-spoof-attempts": 0,
                      "distraction-events": 1,
                      "hesitation-baseline": 39595,
                      "hesitation-count": 7,
                      "hesitation-time": 27719,
                      "shortcut-copies": 0,
                      "shortcut-pastes": 0,
                      "autofill-cancels": 9,
                      "autofill-starts": 0,
                      "devtools-open": false,
                      "completion-time": 40.585583285,
                      "hesitation-percentage": 70.00631392852632,
                      "behavior-threat-level": "low"
                    },
                    "tags": [],
                    "creator": "API",
                    "reviewer-comment": null,
                    "created-at": "2022-12-13T11:25:43.000Z",
                    "started-at": "2022-12-13T11:25:57.000Z",
                    "completed-at": "2022-12-13T11:26:24.000Z",
                    "failed-at": null,
                    "marked-for-review-at": null,
                    "decisioned-at": null,
                    "expired-at": null,
                    "redacted-at": null,
                    "previous-step-name": "verification_selfie",
                    "next-step-name": "success",
                    "fields": {}
                  },
                  "relationships": {
                    "account": {
                      "data": {
                        "type": "account",
                        "id": "act_ieU3JixNapupDi6Tm8E9NfFr"
                      }
                    },
                    "template": {
                      "data": null
                    },
                    "inquiry-template": {
                      "data": {
                        "type": "inquiry-template",
                        "id": "itmpl_uAA47KUGACTY8ZWY6YZwYqyr"
                      }
                    },
                    "inquiry-template-version": {
                      "data": {
                        "type": "inquiry-template-version",
                        "id": "itmplv_sLfEL9AVStU5zTg21bDRPTbX"
                      }
                    },
                    "reviewer": {
                      "data": null
                    },
                    "reports": {
                      "data": []
                    },
                    "verifications": {
                      "data": [
                        {
                          "type": "verification/government-id",
                          "id": "ver_Zp3CbbxYrCmZxyY9QYpRxHg7"
                        },
                        {
                          "type": "verification/selfie",
                          "id": "ver_n7vqK5wRymyFXgPwvUtHNbgF"
                        }
                      ]
                    },
                    "sessions": {
                      "data": [
                        {
                          "type": "inquiry-session",
                          "id": "iqse_dDHjUmJgepxttM9XMATa4uix"
                        }
                      ]
                    },
                    "documents": {
                      "data": [
                        {
                          "type": "document/government-id",
                          "id": "doc_k1TNk5KkxYZaMFRByUgC6b9h"
                        }
                      ]
                    },
                    "selfies": {
                      "data": [
                        {
                          "type": "selfie/profile-and-center",
                          "id": "self_LGxkGVVb491KzMrE8BvU2HgB"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Verify Accreditation",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "inquiryId": "inq_dZCyAt3KwbqbSy3zFKtJQVGV",
                "companyId": "63971a047bca2300128ba103"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "_id": "6398726bec4b8e7a3ea321ba",
                  "inquiryId": "inq_9MN2VYx4KjZ7go9KSuUk1W3Z",
                  "companyId": "63971a047bca2300128ba103",
                  "companyParticipantId": "63710c3bd3e82300125f6764",
                  "status": "completed",
                  "type": "Accreditation",
                  "createdAt": "2022-12-13T12:39:07.435Z",
                  "updatedAt": "2022-12-13T12:39:07.435Z",
                  "__v": 0
                }
              }
            }
          }
        }
      }
    },
    "/Accreditation/link": {
      "get": {
        "x-controller-name": "KycKybAccreditationContoller",
        "tags": ["KYC/KYB/Accreditation"],
        "summary": "Get Accreditation link",
        "operationId": "",
        "deprecated": false
      }
    },
    "/spv-captable": {
      "get": {
        "x-controller-name": "CaptableController",
        "tags": ["Captable"],
        "summary": "Retrieve spv captable",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {}
              }
            }
          }
        }
      },
      "post": {
        "x-controller-name": "CaptableController",
        "tags": ["Captable"],
        "summary": "Create captable",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyId": "6388bf2372d1ec70ce96e542",
                "issueDate": "2022-12-14T11:46:27.903Z",
                "roundName": "Round 2",
                "leadPartner": "TWO12",
                "projectContact": "",
                "contactEmail": "",
                "attributeInvestmentToProRata": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "_id": "639a276c6580ba2ca08573ae",
                    "companyId": "6388bf2372d1ec70ce96e542",
                    "issueDate": "2022-12-14T11:46:27.903Z",
                    "roundName": "Round 2",
                    "leadPartner": "TWO12",
                    "projectContact": "",
                    "contactEmail": "",
                    "attributeInvestmentToProRata": false,
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      },
      "put": {
        "x-controller-name": "CaptableController",
        "tags": ["Captable"],
        "summary": "Update captable",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "6399b7b43894391a94192433",
                "issueDate": "2022-12-14T11:46:27.903Z",
                "roundName": "Round 1",
                "leadPartner": "TWO12",
                "projectContact": "",
                "contactEmail": "",
                "attributeInvestmentToProRata": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "_id": "6399b7b43894391a94192433",
                    "companyId": "636f80242c20606894431958",
                    "issueDate": "2022-12-14T11:46:27.903Z",
                    "roundName": "Round 1",
                    "leadPartner": "TWO12",
                    "projectContact": "",
                    "contactEmail": "",
                    "attributeInvestmentToProRata": false,
                    "__v": 0
                  },
                  "success": true,
                  "message": "Investment has been successfully edited"
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-controller-name": "CaptableController",
        "tags": ["Captable"],
        "summary": "Delete captable",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "id": "6399b7b43894391a94192433",
                "companyId": "636f80242c20606894431958"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "_id": "6399b7b43894391a94192433",
                    "companyId": "636f80242c20606894431958",
                    "issueDate": "2022-12-14T11:46:27.903Z",
                    "roundName": "Round 1",
                    "leadPartner": "TWO12",
                    "projectContact": "",
                    "contactEmail": "",
                    "attributeInvestmentToProRata": false,
                    "__v": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "spv-captable/all": {
      "get": {
        "x-controller-name": "CaptableController",
        "tags": ["Captable"],
        "summary": "Retrieve all spv captable",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_id": "6399b7b43894391a94192433",
                      "companyId": "636f80242c20606894431958",
                      "issueDate": "2022-12-14T11:46:27.903Z",
                      "roundName": "Round 1",
                      "leadPartner": "TWO12",
                      "projectContact": "",
                      "contactEmail": "",
                      "attributeInvestmentToProRata": false,
                      "__v": 0,
                      "participants": [
                        {
                          "_id": "6399bbad3894391a94192449",
                          "capTableId": "6399b7b43894391a94192433",
                          "investmentAmount": "5000",
                          "investmentDate": "2022-12-14T11:46:27.903Z",
                          "companyId": "636f80242c20606894431958",
                          "companyParticipantId": {
                            "_id": "636f80242c2060689443195d",
                            "role": "FOUNDER",
                            "accessControl": "FULL",
                            "investmentDocuments": [],
                            "certificates": [],
                            "email": "gaurav@two12.co",
                            "partnerNumber": "120fdf99-bdf5-44fe-ae8f-e3e338b7c7ae",
                            "firstName": "SPV-TWO12",
                            "vestingPauseDates": []
                          },
                          "attributeInvestmentToProRata": false,
                          "__v": 0,
                          "investorId": {
                            "personalInfo": {
                              "first_name": "SPV-TWO12",
                              "email": "gaurav@two12.co"
                            },
                            "_id": "62f110cbe1536a00134ff471"
                          }
                        }
                      ]
                    }
                  ],
                  "fund": 0,
                  "success": true
                }
              }
            }
          }
        }
      },
      "delete": {
        "x-controller-name": "CaptableController",
        "tags": ["Captable"],
        "summary": "Delete all participants",
        "operationId": "",
        "deprecated": false,
        "requestBody": {
          "content": {
            "application/json": {
              "example": {
                "companyId": "636f80242c20606894431958"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": {
                    "n": 0,
                    "ok": 1,
                    "deletedCount": 0
                  },
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "spv-captable/rounds": {
      "get": {
        "x-controller-name": "CaptableController",
        "tags": ["Captable"],
        "summary": "Retrieve rounds",
        "operationId": "",
        "deprecated": false,
        "parameters": [
          {
            "name": "companyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {
                  "data": [
                    {
                      "_id": "6399b7b43894391a94192433",
                      "companyId": "636f80242c20606894431958",
                      "roundName": "Round 1"
                    }
                  ],
                  "success": true
                }
              }
            }
          }
        }
      }
    },
    "/transfer-agent": {
      "get": {
        "x-controller-name": "TransferAgentController",
        "tags": ["Transfer Agent"],
        "summary": "Get transfer agent list",
        "operationId": "",
        "deprecated": false,
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {}
              }
            }
          }
        }
      },
      "delete": {
        "x-controller-name": "TransferAgentController",
        "tags": ["Transfer Agent"],
        "summary": "Delete transfer agent list",
        "operationId": "",
        "deprecated": false,
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "example": {}
              }
            }
          }
        }
      }
    },
    "/data-room/file": {
      "post": {
        "x-controller-name": "DataRoomController",
        "tags": ["Document upload & eSign"],
        "summary": "Upload documents",
        "operationId": "",
        "deprecated": false,
        "parameters": [],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "x-parser": "stream",
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "description": "Request body for multipart/form-data based file upload",
          "required": true
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "OAuth2": {
        "type": "OAuth2",
        "description": "TWO12's API implementation only supports [OAuth 2.0](https://OAuth.net/2/) for authentication and authorization. \n\nThe process to obtain a token is:\n<ol> <li> TWO12 will deliver a client secret key for each of its Enterprise customers </li><li>The Client Application sends an request to the Authorization Endpoint (`/spv/OAuth2/token`) with the client id and client secret in the request body. </li> <li>In the response, the Authorization Endpoint sends an Access Token (JWT) with a configurable expiry period (default 6 hours).</li> <li>The Client Application uses the Access Token to call the API endpoints.</li> </ol>",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "/token"
          }
        }
      }
    },
    "schemas": {
      "Kyc": {
        "title": "Kyc",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": ["IN_PROGRESS", "COMPLETE", "EXCEPTION"]
          },
          "resultDetail": {
            "type": "object",
            "properties": {
              "adverseMedia": {
                "type": "string",
                "enum": ["IN_PROGRESS", "COMPLETE", "EXCEPTION"]
              },
              "monitoredLists": {
                "type": "string",
                "enum": ["IN_PROGRESS", "COMPLETE", "EXCEPTION"]
              },
              "politicallyExposedPerson": {
                "type": "string",
                "enum": ["IN_PROGRESS", "COMPLETE", "EXCEPTION"]
              },
              "sanction": {
                "type": "string",
                "enum": ["IN_PROGRESS", "COMPLETE", "EXCEPTION"]
              }
            }
          },
          "providerMeta": {
            "type": "object"
          },
          "applicantId": {
            "type": "string"
          },
          "checkId": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "result": {
            "type": "string"
          },
          "profileId": {
            "type": "string"
          },
          "ownerId": {
            "type": "string"
          },
          "overrideComment": {
            "type": "string"
          },
          "migratedToId": {
            "type": "string"
          }
        },
        "required": ["status", "providerMeta"],
        "additionalProperties": false
      },
      "KycCheckRequest": {
        "title": "KycCheckRequest",
        "type": "object",
        "additionalProperties": true,
        "description": "KYC Check Request Object",
        "oneOf": [
          {
            "title": "Data to KYC Check",
            "type": "object",
            "required": [
              "firstName",
              "lastName",
              "address",
              "identificationNumbers",
              "dateOfBirth"
            ],
            "properties": {
              "firstName": {
                "type": "string",
                "minLength": 2,
                "maxLength": 1024,
                "description": "The applicant's first name."
              },
              "lastName": {
                "type": "string",
                "minLength": 2,
                "maxLength": 1024,
                "description": "The applicant's surname."
              },
              "address": {
                "description": "The address of the applicant\n\nThe following characters will be filtered from all fields: `!$%^*=<>`",
                "required": [
                  "street1",
                  "city",
                  "postalCode",
                  "region",
                  "country"
                ],
                "properties": {
                  "street1": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 1024,
                    "description": "First line of address"
                  },
                  "street2": {
                    "type": "string",
                    "maxLength": 1024,
                    "description": "Second line of address"
                  },
                  "city": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 1024,
                    "description": "City of address"
                  },
                  "region": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 1024,
                    "description": "Region or State of Address"
                  },
                  "postalCode": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 1024,
                    "description": "The postcode (ZIP code) of the applicant's address.\n\n- For UK postcodes, specify the value in the following format: `SW4 6EH`.\n- For US postcodes, use ZIP format: `84121`"
                  },
                  "country": {
                    "description": "The full name of the country",
                    "type": "string",
                    "enum": [
                      "Afghanistan",
                      "Albania",
                      "Algeria",
                      "American Samoa",
                      "Andorra",
                      "Angola",
                      "Anguilla",
                      "Antarctica",
                      "Antigua and Barbuda",
                      "Argentina",
                      "Armenia",
                      "Aruba",
                      "Australia",
                      "Austria",
                      "Azerbaijan",
                      "Bahamas",
                      "Bahrain",
                      "Bangladesh",
                      "Barbados",
                      "Belarus",
                      "Belgium",
                      "Belize",
                      "Benin",
                      "Bermuda",
                      "Bhutan",
                      "Bolivia",
                      "Bosnia and Herzegovina",
                      "Botswana",
                      "Bouvet Island",
                      "Brazil",
                      "British Indian Ocean Territory",
                      "Brunei Darussalam",
                      "Bulgaria",
                      "Burkina Faso",
                      "Burundi",
                      "Cambodia",
                      "Cameroon",
                      "Canada",
                      "Cape Verde",
                      "Cayman Islands",
                      "Central African Republic",
                      "Chad",
                      "Chile",
                      "China",
                      "Christmas Island",
                      "Cocos (Keeling) Islands",
                      "Colombia",
                      "Comoros",
                      "Congo",
                      "Congo, the Democratic Republic of the",
                      "Cook Islands",
                      "Costa Rica",
                      "Cote D'Ivoire",
                      "Croatia",
                      "Cuba",
                      "Cyprus",
                      "Czech Republic",
                      "Denmark",
                      "Djibouti",
                      "Dominica",
                      "Dominican Republic",
                      "Ecuador",
                      "Egypt",
                      "El Salvador",
                      "Equatorial Guinea",
                      "Eritrea",
                      "Estonia",
                      "Ethiopia",
                      "Falkland Islands (Malvinas)",
                      "Faroe Islands",
                      "Fiji",
                      "Finland",
                      "France",
                      "French Guiana",
                      "French Polynesia",
                      "French Southern Territories",
                      "Gabon",
                      "Gambia",
                      "Georgia",
                      "Germany",
                      "Ghana",
                      "Gibraltar",
                      "Greece",
                      "Greenland",
                      "Grenada",
                      "Guadeloupe",
                      "Guam",
                      "Guatemala",
                      "Guinea",
                      "Guinea-Bissau",
                      "Guyana",
                      "Haiti",
                      "Heard Island and McDonald Islands",
                      "Holy See (Vatican City State)",
                      "Honduras",
                      "Hong Kong",
                      "Hungary",
                      "Iceland",
                      "India",
                      "Indonesia",
                      "Iran, Islamic Republic of",
                      "Iraq",
                      "Ireland",
                      "Israel",
                      "Italy",
                      "Jamaica",
                      "Japan",
                      "Jordan",
                      "Kazakhstan",
                      "Kenya",
                      "Kiribati",
                      "North Korea",
                      "South Korea",
                      "Kuwait",
                      "Kyrgyzstan",
                      "Lao People's Democratic Republic",
                      "Latvia",
                      "Lebanon",
                      "Lesotho",
                      "Liberia",
                      "Libya",
                      "Liechtenstein",
                      "Lithuania",
                      "Luxembourg",
                      "Macao",
                      "Madagascar",
                      "Malawi",
                      "Malaysia",
                      "Maldives",
                      "Mali",
                      "Malta",
                      "Marshall Islands",
                      "Martinique",
                      "Mauritania",
                      "Mauritius",
                      "Mayotte",
                      "Mexico",
                      "Micronesia, Federated States of",
                      "Moldova, Republic of",
                      "Monaco",
                      "Mongolia",
                      "Montserrat",
                      "Morocco",
                      "Mozambique",
                      "Myanmar",
                      "Namibia",
                      "Nauru",
                      "Nepal",
                      "Netherlands",
                      "New Caledonia",
                      "New Zealand",
                      "Nicaragua",
                      "Niger",
                      "Nigeria",
                      "Niue",
                      "Norfolk Island",
                      "North Macedonia, Republic of",
                      "Northern Mariana Islands",
                      "Norway",
                      "Oman",
                      "Pakistan",
                      "Palau",
                      "State of Palestine",
                      "Panama",
                      "Papua New Guinea",
                      "Paraguay",
                      "Peru",
                      "Philippines",
                      "Pitcairn",
                      "Poland",
                      "Portugal",
                      "Puerto Rico",
                      "Qatar",
                      "Reunion",
                      "Romania",
                      "Russian Federation",
                      "Rwanda",
                      "Saint Helena",
                      "Saint Kitts and Nevis",
                      "Saint Lucia",
                      "Saint Pierre and Miquelon",
                      "Saint Vincent and the Grenadines",
                      "Samoa",
                      "San Marino",
                      "Sao Tome and Principe",
                      "Saudi Arabia",
                      "Senegal",
                      "Seychelles",
                      "Sierra Leone",
                      "Singapore",
                      "Slovakia",
                      "Slovenia",
                      "Solomon Islands",
                      "Somalia",
                      "South Africa",
                      "South Georgia and the South Sandwich Islands",
                      "Spain",
                      "Sri Lanka",
                      "Sudan",
                      "Suriname",
                      "Svalbard and Jan Mayen",
                      "Eswatini",
                      "Sweden",
                      "Switzerland",
                      "Syrian Arab Republic",
                      "Taiwan, Province of China",
                      "Tajikistan",
                      "Tanzania, United Republic of",
                      "Thailand",
                      "Timor-Leste",
                      "Togo",
                      "Tokelau",
                      "Tonga",
                      "Trinidad and Tobago",
                      "Tunisia",
                      "Turkey",
                      "Turkmenistan",
                      "Turks and Caicos Islands",
                      "Tuvalu",
                      "Uganda",
                      "Ukraine",
                      "United Arab Emirates",
                      "United Kingdom",
                      "United States of America",
                      "United States Minor Outlying Islands",
                      "Uruguay",
                      "Uzbekistan",
                      "Vanuatu",
                      "Venezuela",
                      "Vietnam",
                      "Virgin Islands, British",
                      "Virgin Islands, U.S.",
                      "Wallis and Futuna",
                      "Western Sahara",
                      "Yemen",
                      "Zambia",
                      "Zimbabwe",
                      "Åland Islands",
                      "Bonaire, Sint Eustatius and Saba",
                      "Curaçao",
                      "Guernsey",
                      "Isle of Man",
                      "Jersey",
                      "Montenegro",
                      "Saint Barthélemy",
                      "Saint Martin (French part)",
                      "Serbia",
                      "Sint Maarten (Dutch part)",
                      "South Sudan",
                      "Kosovo"
                    ]
                  }
                }
              },
              "email": {
                "type": "string",
                "description": "The applicant's email address."
              },
              "dateOfBirth": {
                "type": "string",
                "format": "date",
                "description": "The applicant's date of birth in YYYY-MM-DD format."
              },
              "identificationNumbers": {
                "type": "array",
                "minItems": 1,
                "items": {
                  "type": "object",
                  "required": ["type", "value"],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "ssn",
                        "social_insurance",
                        "tax_id",
                        "identity_card",
                        "driving_license"
                      ],
                      "description": "Type of ID number. Valid values are `ssn`, `social_insurance` (e.g. UK National Insurance), `tax_id`, `identity_card` and `driving_licence`."
                    },
                    "value": {
                      "type": "string",
                      "minLength": 4,
                      "description": "Value of `type`. \nType of `ssn` supports both the full SSN or the last 4 digits. If the full SSN is provided then it must be in the format xxx-xx-xxxx."
                    },
                    "state": {
                      "type": "string",
                      "enum": [
                        "AR",
                        "DC",
                        "DE",
                        "FL",
                        "GA",
                        "KS",
                        "LA",
                        "MD",
                        "MO",
                        "MS",
                        "NC",
                        "OK",
                        "SC",
                        "TN",
                        "TX",
                        "WV",
                        "AL",
                        "CT",
                        "IA",
                        "IL",
                        "IN",
                        "ME",
                        "MI",
                        "MN",
                        "NE",
                        "NH",
                        "NJ",
                        "NY",
                        "OH",
                        "RI",
                        "VT",
                        "WI",
                        "CA",
                        "CO",
                        "NM",
                        "NV",
                        "UT",
                        "AZ",
                        "ID",
                        "MT",
                        "ND",
                        "OR",
                        "SD",
                        "WA",
                        "WY",
                        "HI",
                        "AK",
                        "KY",
                        "MA",
                        "PA",
                        "VA"
                      ],
                      "description": "Only required for the `driving_licence` type in United States of America"
                    }
                  }
                }
              }
            }
          },
          {
            "title": "Profile to KYC Check",
            "type": "object",
            "required": ["profileId"],
            "properties": {
              "profileId": {
                "type": "string"
              }
            }
          }
        ]
      },
      "NewValidation": {
        "title": "NewValidation",
        "type": "object",
        "description": "(tsType: Omit<Validation, 'id'>, schemaOptions: { title: 'NewValidation', exclude: [ 'id' ] })",
        "properties": {
          "ownerId": {
            "type": "string"
          },
          "tenantId": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "providerMeta": {
            "type": "object",
            "additionalProperties": true,
            "required": ["typeId"],
            "properties": {
              "typeId": {
                "type": "string"
              }
            }
          },
          "profileId": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "title": "Validation Type",
            "description": "The Type of Validation"
          },
          "effectiveDate": {
            "type": "string",
            "format": "date-time"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "exception": {
            "type": "string"
          },
          "files": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "override": {
            "type": "object"
          },
          "status": {
            "type": "string"
          },
          "profileSnapshot": {
            "type": "object"
          },
          "result": {
            "type": "string"
          },
          "providerMetaId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "x-typescript-type": "Omit<Validation, 'id'>"
      },
      "DataImporterResolverService": {},
      "MinIOService": {},
      "InvestorForUserWithRelations": {
        "title": "InvestorForUserWithRelations",
        "type": "object",
        "description": "(tsType: InvestorForUserWithRelations, schemaOptions: { includeRelations: true })",
        "properties": {
          "organizerId": {
            "type": "string"
          },
          "investorId": {
            "type": "string"
          },
          "investorName": {
            "type": "string"
          },
          "investorEmail": {
            "type": "string"
          },
          "investorType": {
            "type": "string"
          },
          "entityName": {
            "type": "string"
          },
          "subscriptionCount": {
            "type": "number"
          },
          "amountSubscribed": {
            "type": "number"
          }
        },
        "additionalProperties": false,
        "x-typescript-type": "InvestorForUserWithRelations"
      },
      "InvestorSubscription": {
        "title": "InvestorSubscription",
        "type": "object",
        "properties": {
          "profileId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
[...]
